In [24]:
#import required packages
import pandas as pd
import matplotlib.pyplot as plt
#%matplotlib inline

In [25]:

#read the data
df = pd.read_csv("AirQualityUCI.csv", parse_dates=[['Date', 'Time']], delimiter=';')

In [26]:
data = df.drop(['Date_Time', 'Unnamed: 15', 'Unnamed: 16'], axis=1)

In [27]:
data = data.iloc[:-114]

In [28]:
contains_minus_200 = (data == -200).any().any()

if contains_minus_200:
    print("The DataFrame contains values equal to -200.")
else:
    print("The DataFrame does not contain any values equal to -200.")
minus_200_counts = (data == -200).sum()

print("Count of -200 values in each column:")
print(minus_200_counts)

The DataFrame contains values equal to -200.
Count of -200 values in each column:
CO(GT)              0
PT08.S1(CO)       366
NMHC(GT)         8443
C6H6(GT)            0
PT08.S2(NMHC)     366
NOx(GT)          1639
PT08.S3(NOx)      366
NO2(GT)          1642
PT08.S4(NO2)      366
PT08.S5(O3)       366
T                   0
RH                  0
AH                  0
dtype: int64

In [29]:
while (data == -200).any().any():
    data = data.where(data != -200, other=data.shift(1))

In [30]:
# Check if there are any NaN values in the DataFrame
has_nans = df.isna().any().any()

# If there are NaN values, print out the count per column
if has_nans:
    print("Number of NaN values in each column:")
    print(df.isna().sum())
else:
    print("There are no NaN values in the DataFrame.")

Number of NaN values in each column:
Date_Time           0
CO(GT)            114
PT08.S1(CO)       114
NMHC(GT)          114
C6H6(GT)          114
PT08.S2(NMHC)     114
NOx(GT)           114
PT08.S3(NOx)      114
NO2(GT)           114
PT08.S4(NO2)      114
PT08.S5(O3)       114
T                 114
RH                114
AH                114
Unnamed: 15      9471
Unnamed: 16      9471
dtype: int64

In [31]:
#check the dtypes
print(data.dtypes)

data.head()

CO(GT)            object
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)          object
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)     float64
PT08.S5(O3)      float64
T                 object
RH                object
AH                object
dtype: object

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578"
1,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255"
2,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502"
3,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867"
4,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888"

In [32]:
data['CO(GT)'] = data['CO(GT)'].str.replace(',', '.').astype(float)
data['C6H6(GT)'] = data['C6H6(GT)'].str.replace(',', '.').astype(float)
data['T'] = data['T'].str.replace(',', '.').astype(float)
data['RH'] = data['RH'].str.replace(',', '.').astype(float)
data['AH'] = data['AH'].str.replace(',', '.').astype(float)

In [34]:
data.to_csv('air_proccessed.csv', index=False)