In [ ]:
import shutil
import os

# Path to the source and destination directories
source_dir = "NFT/data/ecg/csv_files"
destination_dir = "NFT/data/ecg/600_csv_files"

# Ensure destination directory exists
os.makedirs(destination_dir, exist_ok=True)

# List of filenames in the source directory
filenames = os.listdir(source_dir)

# Copy the first 600 files
for filename in filenames[:600]:
    shutil.copy(os.path.join(source_dir, filename), destination_dir)

:

In [1]:
import os
from glob import glob

# Set the directory containing the CSV files
directory = "/home/../multiTS/NFT/data/ecg/csv_files"

# Get a list of all CSV files in the directory
csv_files = glob(os.path.join(directory, '*.csv'))

# Sort the files if necessary (this example sorts them alphabetically)
csv_files.sort()

# Check if there are more than 600 files
if len(csv_files) > 600:
    # Get the files to be deleted (all except the first 600)
    files_to_delete = csv_files[600:]

    # Loop through the files and delete them
    for file in files_to_delete:
        os.remove(file)
        print(f"Deleted {file}")  # Optional: print out the name of each file as it is deleted
else:
    print("There are 600 or fewer files. No files were deleted.")

There are 600 or fewer files. No files were deleted.

In [26]:
import pandas as pd

df = pd.read_pickle('/home/../multiTS/NFT/data/ecg/pkl_files/E00001.pkl')

In [27]:
df

       0   1   2    3   4   5   6   7   8   9   10  11
0     136  87 -48 -112  92  19 -39  58  87  97  87  78
1     136  87 -48 -112  92  19 -39  58  87  97  87  78
2     136  87 -48 -112  92  19 -39  58  87  97  87  78
3     136  87 -48 -112  92  19 -39  58  87  97  87  78
4     126  82 -43 -104  85  19 -39  48  82  92  82  73
...   ...  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
4995   53  34 -19  -43  36   7   9  34  58  34  24  19
4996   63  34 -29  -48  46   2   4  34  58  43  24  19
4997   68  34 -34  -51  51   0   4  39  58  48  34  29
4998   73  34 -39  -53  56  -2   4  39  63  48  34  29
4999   87  34 -53  -61  70  -9   9  48  53  53  43  29

[5000 rows x 12 columns]

In [15]:
df['val'].T[4232]

array([ 14,  -4, -19,  -4,  17, -12,  14,  24,   4,   4, -14,  -9],
      dtype=int16)

In [8]:
import pandas as pd

df = pd.read_pickle('/home/../multiTS/NFT/data/ecg_single/pkl_files/E00001.pkl')

In [10]:
df

,Lead_1,Lead_2,Lead_3,Lead_4,Lead_5,Lead_6,Lead_7,Lead_8,Lead_9,Lead_10,Lead_11,Lead_12
0,136.0,87.0,-48.0,-112.0,92.0,19.0,-39.0,58.0,87.0,97.0,87.0,78.0
1,136.0,87.0,-48.0,-112.0,92.0,19.0,-39.0,58.0,87.0,97.0,87.0,78.0
2,136.0,87.0,-48.0,-112.0,92.0,19.0,-39.0,58.0,87.0,97.0,87.0,78.0
3,136.0,87.0,-48.0,-112.0,92.0,19.0,-39.0,58.0,87.0,97.0,87.0,78.0
4,126.0,82.0,-43.0,-104.0,85.0,19.0,-39.0,48.0,82.0,92.0,82.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4228,24.0,-19.0,-43.0,-2.0,34.0,-31.0,19.0,24.0,-14.0,4.0,-4.0,-9.0
4229,14.0,-19.0,-34.0,2.0,24.0,-26.0,19.0,24.0,-4.0,4.0,-14.0,-9.0
4230,14.0,-19.0,-34.0,2.0,24.0,-26.0,14.0,24.0,-4.0,4.0,-14.0,-9.0
4231,14.0,-9.0,-24.0,-2.0,19.0,-17.0,14.0,24.0,4.0,4.0,-14.0,-9.0
4232,14.0,-4.0,-19.0,-4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
n = df.values

AttributeError: 'numpy.ndarray' object has no attribute 'values'